*{
    margin: 0;
    font-family: Arial, sans-serif;
}
/* header */
header{
    width: 100vw;
    height: 13vh;
    margin-bottom: 10vh;
    background-color: #E99857;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    position: absolute;
}

.hroles{
    font-size: 2vh;
    text-align: right;
    width: 87vw;
    margin-right: 5vw;
}

.logout{
    width: 8vh;
}
/* Menu */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px; /* Ancho inicial del menú */
    background-color: #CDDFA0;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 13vh;
  }
  
  .menu {
    width: 100%;
    padding: 16px;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  
  .menu-header {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .menu-icon {
    width: 7vh;
    height: 7vh;
    margin-right: 8px;
  }
  
  .menu-items {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-items li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .menu-image {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  
  .menu-text {
    display: none;
    color: black;
  }
  
  .menu-items li:hover .menu-text {
    display: inline;
  }
  
  .menu-items a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  .menu-items a:hover {
    color: #ffcc00; /* Cambia el color al pasar el cursor */
  }

  li:hover{
    background-color: #74961C;
  }

/* Contenido */

.contenido{
    margin-left: 8vw;
}

/* Tablas */

body{
    background-color: #F4E3C8;
}

.table th {
    background-color: #E99857;
}

.table-hover tbody tr:hover td {
    background-color: #e3f8ac;
    cursor: pointer;
}

/* Añadir botoia */
.añadir{
    background-color: #E99857;
    border-color: black;
    color:black;
    margin: 15px;
    height: 45px;
}

.añadir:hover{
    background-color: #e07f2f;
    border-color: black;
    color:black;
    margin: 15px;
}
.añadir:active {
    background-color: #dd6d12;
}

/* Bilatu botoia */
.lupa{
    background-color: #E99857;
    border-color: black;
    color: black;
    height: 45px;
}

.lupa:hover{
    background-color: #e07f2f;
    border-color: black;
    color: black;
}

/* .paco:active,
.paco.active,
.paco:focus,
.paco.focus {
    background-color: #e07f2f;
    border-color: black;
    color: black;
    box-shadow: none; 
} */

.input-group{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 15px;
}

.input-group-append{
    margin: 15px;
}

.form-control{
    max-width: 200px;
    height: 45px;
}

.form-select{
    width: 150px;
}
