body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
  }
  
  .menu-container {
    top: 0;
    left: 0;
    height: 100%;
    width: 250px; /* Ancho inicial del menú */
    background-color: #CDDFA0;
    overflow-x: hidden;
    transition: 0.25s;
  }
  
  .menu {
    width: 100%;
    padding: 16px;
    color: black;
    text-align: center;
    cursor: pointer;
  }
  
  .menu-header {
    display: flex;
    /* align-items: center; */
    font-size: 16px;
  }
  
  .menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  
  .menu-items {
    /* list-style-type: none; */
    padding: 0;
  }
  
  .menu-items li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .menu-image {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  
  .menu-items a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }
  
  li:hover {
    background-color: #81ac49; /* Cambia el color al pasar el cursor */
}

  .Icono {
    height: 7vh;
    width: 7vh;
  }