<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" href="../CSS/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <body>
        
        <div id="fondoOscuroGrupos" class="fondo-oculto"></div>
        <div id="app">
            <div class="contenido" id="orrialdea"></div>
            <div id="ventanaEmergenteGrupos" class="ventana-oculta">
                <div class="contenido-ventana">
                    <div>
                    <!-- Contenido de la ventana -->
                    <button type="button" class="btn-close" aria-label="Close" id="cerrarVentanaGrupos"></button>
            
                        <label for="mensaje" id="nombreLabelGrupos">Nombre:</label><br><br>
                        <textarea id="nombreTextoGrupos" name="mensaje" rows="1" cols="50" placeholder="Ingresa tu mensaje aquí" v-model="izena">{{izena}}</textarea>
                        <br><br>
                        <label for="mensaje" id="codigoLabelGrupos">Codigo:</label><br><br>
                        <textarea id="codigoTextoGrupos" name="codigo" rows="1" cols="5" v-model="kodea" placeholder="">{{kodea}}</textarea>
                        <br><br>
                        <input id="submitGrupo" type="button" class="btn btn-warning" @click="txertatuEdoAldatu" value="Enviar">
                    
                    </div>
                </div>
            </div>
            <div class="containerPage">
                

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Buscar por nombre" v-model="bilatu">
                    <div class="input-group-append">
                    <button class="btn lupa" type="button" @click="buscar">
                        <i class="bi bi-search"></i>
                    </button>
                    <button id="mostrarVentanaGrupos" type="button" class="btn añadir btn-lg" @click="abrirPopup('', '', '')">Añadir Grupo</button>
                    </div>
                    
                </div>

                <table id="tabla" class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Número de alumnos</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(dato, index) in taula" :key="index" :id="dato.kodea">
                            <td @click="abrirPopup(dato.kodea, dato.izena, dato.kodea)">{{ dato.izena }}</td>
                            <td @click="abrirPopup(dato.kodea, dato.izena, dato.kodea)">{{ dato.langileKop }}</td>
                            <td>
                                <i class="bi bi-trash-fill" @click="ezabatu(dato.kodea)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
<script src="../JS/grupos.js"></script>
<script src="../JS/header.js"></script>
