<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="../CSS/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

        <div class="contenido" id="orrialdea"></div>

        <div class="containerPage" id="upHorario">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar por nombre">
                <div class="input-group-append">
                    <button class="btn lupa" type="button">
                        <i class="bi bi-search"></i>
                    </button>
                    <button type="button" class="btn añadir btn-lg">Nueva Cita</button>
                    <button type="button" class="btn añadir btn-lg">Asignar Roles</button>
                    <button type="button" id="editarHorarios" class="btn añadir btn-lg" @click="mostrarVentana()">Editar Horario</button> 
                </div>
            </div>

            <div id="fondoOscuro" class="fondo-ocultoHorarios" @click="ocultarVentana()"></div>

            <div class="tablaHorarios" id="tablaHorarios">

                <div class="contenidoTabla">
                    <div class="input-group-horarios">
                        <button type="button" id="cerrarHorarios" class="btn x" @click="ocultarVentana()">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                    <table id="tabla" class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Día</th>
                        <th scope="col">Grupo</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Fin</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Lunes</td>
                        <td>
                            <select class="form-select" aria-label="Default select example" v-model="lunes">
                                <!-- <option :value="grupo[0].IZENA" selected>{{ grupo[0].IZENA }}</option> -->
                                <!-- <option selected>a</option> -->
                                <!-- <option   v-for="(grupos,index) in grupo" :key="index" :value="grupos.IZENA" >{{ grupos.IZENA }}</option> -->
                                <option   v-for="(dato,index) in datos" :key="index" :value="dato.izena">{{ dato.izena }}</option>
                            </select>
                        </td>
                        <td>{{ grupo[0].HASIERA_DATA }}</td>
                        <td>{{ grupo[0].AMAIERA_DATA }}</td>
                    </tr>
                    <tr>
                        <td>Martes</td>
                        <td><select class="form-select" aria-label="Default select example" v-model="martes">
                            <option   v-for="(dato,index) in datos" :key="index" :value="dato.izena">{{ dato.izena }}</option>
                        </select></td>
                        <td>{{ grupo[1].HASIERA_DATA }}</td>
                        <td>{{ grupo[1].AMAIERA_DATA }}</td>
                    </tr>
                    <tr>
                        <td>Miércoles</td>
                        <td><select class="form-select" aria-label="Default select example" v-model="miercoles">
                            <option   v-for="(dato,index) in datos" :key="index" :value="dato.izena">{{ dato.izena }}</option>
                        </select></td>
                        <td>{{ grupo[2].HASIERA_DATA }}</td>
                        <td>{{ grupo[2].AMAIERA_DATA }}</td>
                    </tr>
                    <tr>
                        <td>Jueves</td>
                        <td><select class="form-select" aria-label="Default select example" v-model="jueves">
                            <option   v-for="(dato,index) in datos" :key="index" :value="dato.izena">{{ dato.izena }}</option>
                        </select></td>
                        <td>{{ grupo[3].HASIERA_DATA }}</td>
                        <td>{{ grupo[3].AMAIERA_DATA }}</td>
                    </tr>
                    <tr>
                        <td>Viernes</td>
                        <td><select class="form-select" aria-label="Default select example" v-model="viernes">
                            <option   v-for="(dato,index) in datos" :key="index" :value="dato.izena">{{ dato.izena }}</option>
                        </select></td>
                        <td>{{ grupo[4].HASIERA_DATA }}</td>
                        <td>{{ grupo[4].AMAIERA_DATA }}</td>
                    </tr>
                    </tbody>
                    </table>
                    <div class="input-group-horarios">
                        <button type="button" id="aceptarHorarios" class="btn añadir btn-lg" @click="aceptarCambios()">Aceptar</button>
                        <button type="button" id="cancelarHorarios" class="btn cancelar btn-lg" @click="ocultarVentana()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="../JS/home.js"></script>
    </body>
</html>
<script src="../JS/header.js"></script>