body{
    background-color: #F4E3C8;
}

.table th {
    background-color: #E99857;
}

.table-hover tbody tr:hover td {
    background-color: #e3f8ac;
    cursor: pointer;
}

/* Añadir botoia */
.añadir{
    background-color: #E99857;
    border-color: black;
    color:black;
    margin: 15px;
    height: 45px;
}

.añadir:hover{
    background-color: #e07f2f;
    border-color: black;
    color:black;
    margin: 15px;
}
.añadir:active {
    background-color: #dd6d12;
}

/* Bilatu botoia */
.lupa{
    background-color: #E99857;
    border-color: black;
    color: black;
    height: 45px;
}

.lupa:hover{
    background-color: #e07f2f;
    border-color: black;
    color: black;
}

/* .paco:active,
.paco.active,
.paco:focus,
.paco.focus {
    background-color: #e07f2f;
    border-color: black;
    color: black;
    box-shadow: none; 
} */

.input-group{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 15px;
}

.input-group-append{
    margin: 15px;
}

.form-control{
    max-width: 200px;
    height: 45px;
}

.form-select{
    width: 150px;
}
