<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="../CSS/styles.css">
        <link rel="stylesheet" type="text/css" href="../Chapuzas/CitasPost/clockpicker.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="contenido" id="orrialdea"></div>

        <!-- Contenido de la pagina -->

        <div id="app">
            <div id="fondoOscuroLangile" class="fondo-oculto" @click="cerrarPopup"></div>
            <div class="containerPage">
                <div class="input-group">

                    <input type="text" class="form-control buscar" placeholder="Buscar por nombre">
                    <div class="input-group-append">
                    <button class="btn lupa" type="button">
                        <i class="bi bi-search"></i>
                    </button>
                    </div>

                </div>

                <table id="tabla" class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Cliente</th>
                        <th scope="col">Tratamiento</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Fecha</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(dato, index) in taula" :key="index" :id="dato.id">
                            <td @click="abrirPopup(index, dato.id)">{{dato.bezero_izena}}</td>
                            <td @click="abrirPopup(index, dato.id)">{{dato.tratamendu_izena}}</td>
                            <td @click="abrirPopup(index, dato.id)">{{dato.prezioa}}</td>
                            <td @click="abrirPopup(index, dato.id)">{{dato.data}}</td>
                            <td>
                                <i class="bi bi-trash-fill" @click="ezabatu(dato.id, index)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="ventanaEmergenteTickets" class="ventana-oculta">
                <div class="contenido-ventana">
                    <!-- <button type="button" class="btn-close" aria-label="Close" id="cerrarVentanaLangile"></button> -->
                    <div class="input-group-horarios">
                        <button type="button" id="cerrarVentanaLangile" class="btn x" @click="cerrarPopup()">
                            <i class="bi bi-x"></i>
                        </button>
                    </div>
                    <div class="mt-5 text-start">
                        <label for="mensaje"><h2>Cliente</h2></label>
                    </div>
                    <div class="row d-flex mt-4">
                        <div class="col">
                            <input type="text" class="form-control" v-model="izena" style="background-color: white;" disabled>
                        </div>
                    </div>
                    <div class="mt-5 text-start">
                        <label for="mensaje"><h2>Tratamiento</h2></label>
                    </div>
                    <div class="mt-4">
                        <select class="form-select" style="min-width: 15vw;" v-model="tratamendu">
                            <option selected disabled value="">Tratamientos</option>
                            <option v-for="tratamendus in tratamenduak" :value="tratamendus.id" :key="tratamendus.izena">{{tratamendus.izena}}</option>
                        </select>
                    </div>
                    <div class="mt-5 text-start">
                        <label for="mensaje"><h2>Precio</h2></label>
                    </div>
                    <div class="mt-4">
                        <input type="text" class="form-control" v-model="prezioa" style="background-color: white;">
                    </div>
                    
                    <input id="submitLangile" type="submit" class="btn añadir btn-lg mt-4" value="Aceptar">
                </div>
            </div>
        </div>
    </body>
</html>
<script src="../JS/tickets.js"></script>
<script src="../JS/header.js"></script>



