*{
    margin: 0;
    font-family: Arial, sans-serif;
}
/* header */
header{
    width: 100vw;
    height: 13vh;
    margin-bottom: 10vh;
    /* margin-left: -8vw; */
    background-color: #48738d;
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: white;
}

h1{
    position: absolute;
}

::-webkit-scrollbar {
  display: none;
}

.hroles{
    font-size: 2vh;
    text-align: right;
    width: 87vw;
    margin-right: 5vw;
}

.logout{
    width: 8vh;
    filter: invert();
  }

/* Menu */

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 90%;
    width: 100px; 
    background-color: #5db6b6;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 13vh;
  }
  
  .menu {
    width: 100%;
    padding: 16px;
    color: white;
    text-align: center;
    cursor: pointer;
  }
  
  .menu-header {
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  
  .menu-icon {
    width: 7vh;
    height: 7vh;
    margin-right: 8px;
  }
  
  .menu-items {
    list-style-type: none;
    padding: 0;
  }
  
  .menu-items li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .menu-image {
    width: 30px;
    height: 30px;
    margin-right: 8px;
  }
  
  .menu-text {
    display: none;
    color: black;
  }
  
 .menu-items li:hover .menu-text {
    display: inline;
  }
  
  .menu-items a {
    text-decoration: none;
    color: white;
    font-size: 16px;
  }

  li:hover{
    background-color: #a7d9d7;
  }

/* Contenido */

.contenido{
    margin-left: 8vw;
}
.containerPage{
  padding-top: 20vh;
  padding-left: 10vw;
  /* padding-right: 10vw; */
  padding-right: 5vw;
}

/* Contenido productos */
.contenido-productos{
  margin-left: 8vw;
}
.containerPage-productos{
  margin-top: -4vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

/* Cesta productos */
#cesta-productos{
  padding-top: 18vh;
  padding-left: 10vw;
  padding-right: 5vw;
}
#but-cesta-productos{
  background-color: #1ab7bc; 
  border-radius: 10px;
}
#but-cesta-productos:hover{
  background-color: #00dee6;
  border-color: black;
  color:black;
}
#but-cesta-productos:active {
  background-color: #F4E3C8;
}

/* pop-up productos */
.thead-prod-head{
  background-color: #00dee6;

}
#prod{
  background-color: #F4E3C8;
}
.taula-pop-produk td{
  vertical-align: middle;
  text-align: center;
}
.thead-prod-head th{
  vertical-align: middle;
  text-align: center;
}
#pop-prod{
  background-color: #00dee6;
  color: black;
}

/* Tablas */

body{
    background-color: #f1fff7 ;
}

.table th {
    background-color: #1ab7bc;
}

.table-hover tbody tr:hover td {
    background-color: #9df3de;
    cursor: pointer;
}

/* Botón añadir */
.añadir{
    background-color: #1ab7bc;
    border-color: black;
    color:black;
    margin: 15px;
    height: 45px;
}

.añadir:hover{
    background-color: #00dee6;
    border-color: black;
    color:black;
    margin: 15px;
}
.añadir:active {
    background-color: #02adb3;
}

/*Botón cancelar*/
.cancelar{
  background-color: #d8d7d6;
  border-color: black;
  color:black;
  margin: 15px;
  height: 45px;
}

.cancelar:hover{
  background-color: #a8a8a8;
  border-color: black;
  color:black;
  margin: 15px;
}
.cancelar:active {
  background-color: #02adb3;
}

/*Botón papelera*/
.papelera{
  background-color: #d8d7d6;
  border-color: black;
  color:black;
}

.papelera:hover{
  background-color: #a8a8a8;
  border-color: black;
  color:black;
}

/* Botón X editar horarios */
.x{
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 1px;
  height: 35px;
  font-size: 1.5rem;
}

.x:hover{
  background-color: #e0442f;
  border-color: black;
  color:black;
}

.x:active {
  background-color: #02adb3;
}

/* Bilatu botoia */
.lupa{
    background-color: #1ab7bc;
    border-color: black;
    color: black;
    height: 45px;
}

.lupa:hover{
    background-color: #00dee6;
    border-color: black;
    color: black;
}

.input-group{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 15px;
}
.input-group-estadisticas{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
  align-content: center;
  flex-wrap: wrap;
}

.input-group-append{
    margin: 15px;
}

.input-group-horarios{
  display: flex;
  align-items: center;
  justify-content: end;
  /* margin: 15px; */
}

.buscar{
    max-width: 200px;
    height: 45px;
}

.combobox{
    width: 150px;
}

.tablaHorarios{
  display:none;
}

.tablaRoles{
  display: none;
}

.contenidoTabla{
  background-color: rgb(255, 255, 255);
  padding: 10px;
  z-index: 1000;
  position: absolute;
  border-radius: 10px;
  border: 2px solid black;
  width: 85vw;
}
.contenidoTablaProd{
  background-color: rgb(255, 255, 255);
  padding: 25px;
  z-index: 1000;
  border-radius: 10px;
  border: 2px solid black;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fondo-ocultoHorarios {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 997; 
}

.mostrar-fondo {
  display: block; 
}

/* POPUP Langile */

/* .ventana-oculta {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid black;
  padding-top: 8vh;
  padding-bottom: 6vh;
  padding-left: 10vh;
  padding-right: 2vh;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  display: flex;
  flex-direction: column;
} */

#cerrarVentanaLangile{
  position: absolute;
  margin-right: 0%;
  margin-top: 10%;
}

#submitLangile{
  margin-left: 80%;
}

#gruposLabelLangile{
  font-size: 2.5em;
  margin-left: -68%;
  margin-top: 5%;
}

#apellidoLabelLangile{
  font-size: 2.5em;
  margin-left: -65%;
}

#nombreLabelLangile{
  font-size: 2.5em;
  margin-left: -65%;
}

#gruposLangilea{
  margin-left: 38%;
}

#selectorLangilea{
  margin-left: 15%;
}

.fondo-oculto {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 998; 
}


/* POPUP-Grupos */

.ventana-oculta {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding-top: 4vh;
  padding-bottom: 2vh;
  padding-left: 7vh;
  padding-right: 6vh;
  background-color: white;
  z-index: 999;
}

.ventana-ocultaTicketMirar{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding-top: 4vh;
  padding-bottom: 2vh;
  padding-left: 7vh;
  padding-right: 21vh;
  background-color: white;
  z-index: 999;
}

.contenido-ventana {
  text-align: center;
}

#cerrarVentanaGrupos{
  position: absolute;
  margin-top: 4%;
  margin-right: 0%;
}

#submitGrupo{
  margin-right: -75%;
}

#nombreLabelGrupos{
  margin-left: -65%;
  font-size: 2.5em;
}

.fondo-oculto {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 998; 
}

.mostrar-fondo {display: block;}

/* POPUP Añadir Material */

#cerrarVentanaAñadirMaterial{
  /* position: absolute; */
  margin-top: -2%;
  margin-right: 0%;
}

#idLabelMaterial{
  font-size: 2.5em;
  margin-left: -90%;
}

#modeloLabelMaterial{
  font-size: 2.5em;
  margin-left: -68%;
}

#etiquetaLabelMaterial{
  font-size: 2.5em;
  margin-left: -67%;
}

#nombreLabelMaterial{
  font-size: 2.5em;
  margin-left: -67%;
}

#descripcionLabelMaterial{
  font-size: 2.5em;
  margin-left: -50%;
}

#submitAñadirMaterial{
  margin-left: 79%;
}

/* POPUP ReservarMaterial */

#mostrarVentanaReservarMaterial{
  margin-right: 0%;
  margin-left: 0%;
}


#reservarMaterial{
  margin-left: 40vh;
  margin-right: 20%;
}



#ventanaEmergenteReservarMaterial {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  background-color: white;
  z-index: 999;
  width: 90%; /* Utiliza un ancho relativo */
  max-width: 500px; /* Establece un ancho máximo */
  padding: 1%;
}

/* .ventana-oculta {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding-top: 4vh;
  padding-bottom: 2vh;
  padding-left: 7vh;
  padding-right: 6vh;
  background-color: white;
  z-index: 999;
} */

/* POPUP Ticket */

#cerrarVentanaTicket{
  margin-right: 0%;
}

#nombreLabelTicket{
  font-size: 2.5em;
  margin-left: -65%;
}

#tratamientosLabelTicket{
  font-size: 2em;
  margin-left: -56%;
}

#precioAPagarT{
  background-color: #F8B957;
  margin-left: 10%;
  margin-right: 10%;
  
}

#precioLabelTicket{
  font-size: 1.9em;
}

#generarFichaTicket{
  margin-left: 30%;
}

/* POPUP TicketMirar */

#cerrarVentanaTicketMirar{
  margin-right: 0%;
  margin-left: 100%;
  margin-top: -10%;
}

#nombreTextoTicketMirar{
  margin-left: -25%;
}

#nombreLabelTicketMirar{
  font-size: 2.5em;
  margin-left: -75%;
  margin-top: -30%;
}

#fechaTicketMirarC{
  margin-right: 20%;
}

#finalizarTicketMirar{
  margin-left: 120%;
}

#tratamientosLabelTicketMirar{
  font-size: 2.5em;
}

#precioLabelTicketMirar{
  font-size: 1.9em;
  margin-left: 8%;
}

/* POPUP CitasPost */


#nombreLabelCitasPost{
  font-size: 2.5em;
}

#delCentro{
  font-size: 1.3em;
  margin-left: 30%;
}

#switch{
  margin-left: 6%;
}

#cerrarVentanaCitasPost{
  margin-left: 0%;
  margin-right: 0%;
}

#inicioLabelCitasPost{
  font-size: 2.5em;
}

#finalLabelCitasPost{
  font-size: 2.5em;
  margin-left: 10%;
}

#relojInicio{
  margin-left: 10%;
}

#relojFinal{
  margin-left: 2%;
}

#entreReloj{
  margin-left: 2%;
  margin-top: 4%;
  font-size: 2em;
}

#telefonoLabelCitasPost{
  font-size: 2.5em;
  margin-left: -65%;
}

#precioLabelCitasPost{
  font-size: 1.9em;
}

#precioAPagarCitasPost{
  font-size: 1.6em;
}

#generarFichaCitasPost{
  margin-left: 10%;
}

#finalizarCitasPost{
  margin-left: 13%;
}

.traducir{
  margin-right: 3%;
  margin-left: -2%;
}

#esp{
  font-size: large;
  margin-right: 20%;
  border-radius: 15%;
}

#eus{
  font-size: large;
  border-radius: 15%;
}

#esp:hover {
  background-color: #E26B6B;
}

#eus:hover {
  background-color: #CDDFA0;
}


/* Cambios */

/* #cerrarVentanaReservarMaterial {
  position: absolute;
  top: 1;
  right: 0;
  transform: translate(50%, -50%);
} */

#ventanaEmergenteAñadirMaterial{
  border-radius: 5%;
}

#mostrarVentanaMaterial{

  margin-left: 30%;
  font-size: large;
}

@media screen and (max-width: 1400px) {
  #mostrarVentanaMaterial {
      font-size: 2vh;
  }
}


#izenaTratamendua{
  font-size: 2.5em;
  margin-left: -67%;
}

#etxekoprezioaTratamenduak{
  font-size: 2.5em;
  margin-left: -35%;
}

#etxekoprezioNumber{
  margin-left: -72%;
}

#kanpokoprezioaTratamenduak{
  font-size: 2.5em;
  margin-left: -34%;
}

#kanpokoprezioNumber{
  margin-left: -72%;
}

#mostrarVentanaTratamiento{
  margin-left: 85%;
}

.dinero{
  margin-top: -6.5%;
  margin-left: -44%;
}

@media screen and (max-width: 1500px) {
  #mostrarVentanaTratamiento {
      font-size: 1.3vh;
  }
}

#mostrarVentanaGrupos1{
  margin-right: 24%;
}

#buscarMaterial{
  margin-left: 70%
}

/* Login */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.body-login{
  background-image: linear-gradient(246deg, rgba(234, 234, 234, 0.04) 0%, rgba(234, 234, 234, 0.04) 33.3%,rgba(69, 69, 69, 0.04) 33.3%, rgba(69, 69, 69, 0.04) 66.6%,rgba(189, 189, 189, 0.04) 66.6%, rgba(189, 189, 189, 0.04) 99.89999999999999%),linear-gradient(81deg, rgba(126, 126, 126, 0.05) 0%, rgba(126, 126, 126, 0.05) 33.3%,rgba(237, 237, 237, 0.05) 33.3%, rgba(237, 237, 237, 0.05) 66.6%,rgba(74, 74, 74, 0.05) 66.6%, rgba(74, 74, 74, 0.05) 99.89999999999999%),linear-gradient(14deg, rgba(3, 3, 3, 0.08) 0%, rgba(3, 3, 3, 0.08) 33.3%,rgba(156, 156, 156, 0.08) 33.3%, rgba(156, 156, 156, 0.08) 66.6%,rgba(199, 199, 199, 0.08) 66.6%, rgba(199, 199, 199, 0.08) 99.89999999999999%),linear-gradient(323deg, rgba(82, 82, 82, 0.06) 0%, rgba(82, 82, 82, 0.06) 33.3%,rgba(179, 179, 179, 0.06) 33.3%, rgba(179, 179, 179, 0.06) 66.6%,rgba(212, 212, 212, 0.06) 66.6%, rgba(212, 212, 212, 0.06) 99.89999999999999%),linear-gradient(32deg, rgba(70, 70, 70, 0.02) 0%, rgba(70, 70, 70, 0.02) 33.3%,rgba(166, 166, 166, 0.02) 33.3%, rgba(166, 166, 166, 0.02) 66.6%,rgba(53, 53, 53, 0.02) 66.6%, rgba(53, 53, 53, 0.02) 99.89999999999999%),linear-gradient(38deg, rgba(129, 129, 129, 0.09) 0%, rgba(129, 129, 129, 0.09) 33.3%,rgba(38, 38, 38, 0.09) 33.3%, rgba(38, 38, 38, 0.09) 66.6%,rgba(153, 153, 153, 0.09) 66.6%, rgba(153, 153, 153, 0.09) 99.89999999999999%),linear-gradient(63deg, rgba(51, 51, 51, 0.02) 0%, rgba(51, 51, 51, 0.02) 33.3%,rgba(12, 12, 12, 0.02) 33.3%, rgba(12, 12, 12, 0.02) 66.6%,rgba(158, 158, 158, 0.02) 66.6%, rgba(158, 158, 158, 0.02) 99.89999999999999%),linear-gradient(227deg, rgba(63, 63, 63, 0.03) 0%, rgba(63, 63, 63, 0.03) 33.3%,rgba(9, 9, 9, 0.03) 33.3%, rgba(9, 9, 9, 0.03) 66.6%,rgba(85, 85, 85, 0.03) 66.6%, rgba(85, 85, 85, 0.03) 99.89999999999999%),linear-gradient(103deg, rgba(247, 247, 247, 0.07) 0%, rgba(247, 247, 247, 0.07) 33.3%,rgba(93, 93, 93, 0.07) 33.3%, rgba(93, 93, 93, 0.07) 66.6%,rgba(208, 208, 208, 0.07) 66.6%, rgba(208, 208, 208, 0.07) 99%),linear-gradient(0deg, #0b91d7,#6efc29);
    background-position: center center; /* Ajusta según tus preferencias */
    /* background-size: 220lvh; */
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.input-group-login{
    /* font-size: 1.25rem; */
    position: relative;
    --primary: #2196f3;
    width: 500px; /* Ancho del cuadro */
    height: 500px; /* Altura del cuadro */
    border-radius: 15px; /* Radio de borde del cuadro */
    padding: 20px; /* Espaciado interno del cuadro */
    background-color: hsla(0, 0%, 100%, 0.863);
    backdrop-filter: blur(5px);
    display: grid;
    /* justify-content: center;
    align-items: center; */
}

.input-group-login-2{
    /* font-size: 1.25rem; */
    position: relative;
    --primary: #2196f3;
    width: 500px; /* Ancho del cuadro */
    height: 500px; /* Altura del cuadro */
    border-radius: 15px; /* Radio de borde del cuadro */
    padding: 20px; /* Espaciado interno del cuadro */
    background-color: hsla(0, 0%, 100%, 0.863);
    backdrop-filter: blur(5px);
    display: none;
    /* justify-content: center;
    align-items: center; */
}

.titulo-login {
  font-family: 'Arial Black', sans-serif;
  font-size: 3em; /* Ajusta el tamaño según tus necesidades */
  font-weight: bold;
  color: black; /* Ajusta el color según tus necesidades */
  text-align: center;
}

.input-group-login .form-floating, .input-group-login-2 .form-floating {
  margin-bottom: 20px; /* Agrega espacio entre los campos de entrada */
}



.tituloLogo-login{
    display: flex;
    font-family: 'Merriweather', serif;
}

.tituloLog-login{
    color: #000000;
    font-size: larger;
    padding-right: 50px;

}

.logo-login{
    width: 100px;
    height: 70px;
}

.input-login, .input2-login{
    all: unset;
    color: #000000;
    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 10px;
    transition: 150ms
        cubic-bezier(0.4, 0, 0.2, 1);
}

.label-login{
    position: absolute;
    top: 8.25rem;
    left: 3.5rem;
    color: #7e7e7e;
    pointer-events: none;
    transition: 150ms
        cubic-bezier(0.4, 0, 0.2, 1);
}

.label2-login{
    position: absolute;
    top: 13.25rem;
    left: 3.5rem;
    color: #7e7e7e;
    pointer-events: none;
    transition: 150ms
        cubic-bezier(0.4, 0, 0.2, 1);
}

.input-login:focus, .input2-login:focus{
    border: 1px solid
        var(--primary);
}

.input-login:focus ~ .label-login,
.input-login:valid ~ .label-login,
.input2-login:focus ~ .label2-login,
.input2-login:valid ~ .label2-login {
    transform: translateX(-20%) translateY(-160%) scale(0.8);
    background-color: none;
    padding-inline: 0.3rem;
    color: var(--primary);
}

.acceder-login{
    width: 155px;
    height: 50px;
    margin-left: 45px;
}

